<div *ngIf="!isSignedIn" class="logo">
  <img *ngIf="!isSignedIn"
    src="https://www.freelogoservices.com/api/main/images/1j+ojFVDOMkX9Wytexe43D6khvaDpRRLnxzNwXs1M3EMoAJtliEoh...do9fs+" />
</div>
<div *ngIf="!isSignedIn" class="cuadroregistro">
  <div *ngIf="!isSignedIn">
    <h2 class="inicios">Registro</h2>
    <input type="text" class="inputi" #emailSignup />
    <input type="password" class="inputd" #passwordSignup />
    <button (click)="onSignup(emailSignup.value,passwordSignup.value)">Enviar</button>
  </div>

  <hr>

  <div *ngIf="!isSignedIn">
    <h2 class="inicios">Iniciar sesión</h2>
    <input type="text" class="inputi" #email />
    <input type="password" class="inputd" #password />
    <button (click)="onSignin(email.value,password.value)">Enviar</button>
  </div>
</div>
<app-home *ngIf="isSignedIn" (isLogout)="handleLogout()"></app-home>
